.jumbotron {
    background: url(../img/buc-4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
    color: white;
}

h1, .j-text {
    text-shadow: 2px 2px 5px black;
}

.link {
    color: white;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    text-decoration: none;
    color: white;
}